body {
  font-family: Arial, Helvetica, sans-serif;
  /* margin: 0; */
  background: #f4f4f4;
}
.header {
  text-align: center;
  background: #323232;
  padding: 12px;
  margin-bottom: 10px;
}
.header h1 {
  margin: 0;
  color: #fff;
}
.card {
  width: 200px;
  box-shadow: 0 0 5px 0.3px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
  margin-right: 12px;
}
.section {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  justify-content: center;
}
.card-head {
  text-align: center;
  background: linear-gradient(45deg, #00bbff, #00ffbb);
  padding: 4px 6px;
  color: #323232;
}
.card-body {
  padding: 5px;
}
.card-footer {
  text-align: center;
  padding: 8px;
}
.btn {
  background: linear-gradient(45deg, #00ffbb, #00bbff);
  border: none;
  width: 5rem;
  height: 2rem;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  transition: ease-in 0.1s;
  width: 6rem;
  font-size: 1rem;
  box-shadow: 0 0 8px 0.4px rgba(0, 0, 0, 0.3);
}
.modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
}
.modal-box {
  max-width: 300px;
  background: #fff;
  min-height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-head {
  background: linear-gradient(45deg, #00bbff, #00ffbb);
  text-align: center;
  color: #fff;
}
.modal-body {
  padding: 12px;
}
.modal-footer {
  text-align: center;
  padding: 12px;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  text-align: center;
}
.loader img {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
